* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.panda-image {
  width: 100%;
  height: 780px;
  object-fit: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-logo {
  position: relative;
  margin-right: 63px;
}

.header-logo:hover a {
  color: #f9804b;
  border: 1px solid #f9804b;
  transition: 0.5s ease;
}
.header-logo:hover svg {
  fill: #f9804b;
  transition: 0.5s ease;
}
.header-logo__svg {
  fill: #fff;
  position: absolute;
  left: 9px;
  top: 24px;
}

.header-logo__link {
  padding: 3px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  max-width: 81px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  text-align: center;
  font-size: 19px;
  line-height: 22px;
}
.header-nav__list {
  padding: 0;
  margin: 0;
  display: flex;
}
.header-nav__item {
  list-style: none;
  margin-right: 58px;
}
.header-nav__item:hover a {
  color: #f9804b;
  transition: 0.5s ease;
}
.header-nav__item:last-child {
  margin-right: 0;
}
.header-nav__link {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.header-logo__link--title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  margin: 0;
}
.header-nav__link--active {
  color: #f9804b;
}
.header-right__link-design {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.header-right__link-design:hover {
  color: #f9804b;
  transition: 0.5s ease;
}
.favoriteAnimal {
  width: 100%;
  position: absolute;
  top: 80px;
}
.favoriteAnimal-image {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.favoriteAnimal-content__text {
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 3;
  font-weight: 700;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  max-width: 500px;
  font-size: 106.5px;
  line-height: 79.87px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #fff;
}

.favoriteAnimal-content__text--color {
  color: #ffee2e;
}
.favoriteAnimal-content {
  position: relative;
  padding-top: 87px;
  display: flex;
  justify-content: flex-end;
}
.favoriteAnimal-content__circle {
  position: absolute;
  top: 12px;
  right: 108px;
  z-index: 0;
  width: 465px;
  height: 465px;
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  border-radius: 50%;
}
.favoriteAnimal-content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favoriteAnimal-content__button {
  width: 298px;
  height: 54px;
  text-transform: uppercase;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  transition: 0.9s ease;
  margin-left: 4px;
}
.favoriteAnimal-content__button:hover {
  color: rgba(254, 144, 19, 1);
  background-image: linear-gradient(to bottom right, #fff, #fff);
}
.backstage {
  background-color: #fff;
  padding-top: 136px;
}

.backstage-top__wrapper {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 87px;
}
.backstage-top__left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.backstage-top__right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.backstage-top__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
}
.backstage-top__description {
  margin: 22px 0 54px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.backstage-top__title--small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.backstage-top__description--small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 34px 0 0 0;
}
.backstage-top {
  position: relative;
}
.backstage-top__flowers {
  position: absolute;
  right: 0;
  top: -127px;
}
.contaiter-forArrows {
  position: relative;
  max-width: 1322px;
  margin: 0 auto;
}
.arrow-left {
  transform: translate(-1px, 2px);
  top: 40%;
  left: 0;
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
.arrow-right {
  transform: translate(-1px, 2px);
  top: 40%;
  right: 0;
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
.arrow-svg {
  fill: #fff;
}
.arrow-left:hover {
  background-image: linear-gradient(to bottom right, #fff, #fff);
  border: 1px solid rgba(254, 144, 19, 1);
}
.arrow-left:hover svg {
  fill: rgba(254, 144, 19, 1);
  transition: 0.5s ease;
}
.arrow-right:hover {
  background-image: linear-gradient(to bottom right, #fff, #fff);
  border: 1px solid rgba(254, 144, 19, 1);
}
.arrow-right:hover svg {
  fill: rgba(254, 144, 19, 1);
  transition: 0.5s ease;
}
.backstage-bottom {
  padding-top: 174px;
  padding-bottom: 100px;
  position: relative;
}
.backstage-bottom__palm {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.backstage-bottom__strelitzia {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.backstage-bottom__block {
  width: 366px;
  /* padding-bottom: 14px; */
  border: 1px solid #fe9013;
  border-radius: 6px;
  cursor: pointer;
}
.backstage-bottom__image {
  height: 366px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.backstage-bottom__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.backstage-bottom__description {
  position: relative;
  padding: 8px 12px 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backstage-bottom__block:hover .backstage-bottom__description--text-none {
  visibility: hidden;
}
.backstage-bottom__description--text-hidden {
  position: absolute;
  bottom: 60px;
  background-color: gray;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}
.backstage-bottom__block:hover .backstage-bottom__description--text-hidden {
  transition: 0.6s ease;
  bottom: 6px;
}
.backstage-bottom__description--name {
  margin: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.backstage-bottom__description--place {
  margin: -2px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.backstage-bottom__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  column-gap: 30px;
  row-gap: 18px;
  position: relative;
  z-index: 3;
}
.backstage-bottom__panda {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.backstage-bottom__eagles {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.backstage-bottom__gorillas {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.backstage-bottom__sloth {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.backstage-bottom__cheetahs {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.backstage-bottom__penguins {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.backstage-bottom__description--svg {
  margin-right: -3px;
}
.backstage-bottom__button {
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  border: none;
  border-radius: 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 78px;
}
.backstage-bottom__button:hover {
  background-image: linear-gradient(to bottom right, #fff, #fff);
  color: rgba(254, 144, 19, 1);
  transition: 0.9s ease;
}
.backstage-bottom__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pick {
  position: relative;
  padding-top: 69px;
  padding-bottom: 100px;
}
.pick-overlay__top {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(254, 189, 171, 0.74),
    rgba(243, 169, 248, 0.66),
    rgba(224, 216, 240, 1),
    rgba(234, 247, 254, 1),
    rgba(234, 247, 254, 1)
  );
}
.pick-overlay__middle {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(254, 210, 144, 0.7),
    rgba(254, 189, 171, 1),
    rgba(254, 210, 144, 0.7)
  );
}
.pick-overlay__down {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(234, 247, 254, 1),
    rgba(234, 247, 254, 1),
    rgba(224, 216, 240, 1),
    rgba(243, 169, 248, 0.66),
    rgba(254, 189, 171, 0.74)
  );
}
.pick-wrapper {
  position: relative;
  z-index: 3;
  border-radius: 20px;
  overflow: hidden;
  padding: 41px 59px 59px 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pick-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgba(253, 253, 255, 0.52);
  opacity: 0.52;
}
.pick-wrapper__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #fe9013;
  text-align: center;
  margin: 0 0 30px 0;
}
.pick-wrapper__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 40px 32px;
}
.pick-wrapper__description--covid {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 10px 32px;
}
.pick-wrapper__description--support {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  max-width: 873px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  margin: 0 0 0 32px;
}
.pick-wrapper__description--support-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #000;
}
.pick-wrapper__description--support-link:active {
  color: #000;
  text-decoration: none;
}
.pick-wrapper__title-works {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  margin: 59px 0 40px 0;
}
.pick-wrapper__button {
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  width: 298px;
  border-radius: 25px;
  padding: 16px 0;
  border: none;
  margin-left: -4px;
  text-decoration: none;
  text-align: center;
}
.pick-wrapper__button:active {
  text-decoration: none;
  color: #fff;
}
.pick-wrapper__button:hover {
  background-image: linear-gradient(to bottom right, #fff, #fff);
  color: rgba(254, 144, 19, 1);
  transition: 0.9s ease;
}
.line {
  width: 178px;
  height: 1px;
  background-color: #fe9013;
  margin-left: 120px;
}
.pick-wrapper__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 764px;
  margin-bottom: 30px;
}
.pick-wrapper__descriptions {
  display: flex;
  justify-content: space-between;
  width: 764px;
  margin-bottom: 60px;
}
.pick-wrapper__card {
  width: 168px;
}

.pick-wrapper__card-top {
  border: 1px solid rgba(249, 128, 75, 1);
  background-color: #fff;
  width: 168px;
  height: 168px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pick-wrapper-card-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  width: 168px;
}
.pick-wrapper-card-description:first-child {
  text-align: start;
}
.pick-wrapper__arrow {
  margin-top: -9px;
}
.pick-wrapper__arrow--right {
  margin-top: -15px;
}
.testimonials {
  position: relative;
  padding-top: 140px;
  padding-bottom: 179px;
}
.testimonials-img {
  right: 0;
  bottom: -132px;
  position: absolute;
}
.testimonials-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 47px;
}
.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-wrapper__cards {
  display: flex;
  margin-bottom: 23px;
}
.testimonials-wrapper__card {
  position: relative;
  width: 266px;
  border-radius: 19px;
  background: #fff;
  text-align: center;
  padding: 15px 15px 20px 16px;
  margin-right: 32px;
}
.testimonials-wrapper__card:last-child {
  margin-right: 0;
}
.testimonials-wrapper__card::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-image: linear-gradient(
    to bottom right,
    rgba(234, 247, 254, 1),
    rgba(243, 169, 248, 0.66),
    rgba(254, 189, 171, 0.74)
  );
  border-radius: 20px;
  z-index: -1;
}
.testimonials-wrapper__user {
  display: flex;
  margin-bottom: 10px;
}
.testimonials-wrapper__ava {
  margin-right: 10px;
}
.testimonials-wrapper__name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  text-align: left;
  margin-bottom: 1px;
}
.dote {
  display: block;
  width: 3px;
  height: 3px;
  background-color: #bdbdbd;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
}
.testimonials-wrapper__location {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  margin: 0;
}
.testimonials-wrapper__message {
  margin: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767474;
}
.testimonials-wrapper__button {
  margin-top: 32px;
  text-transform: uppercase;
  width: 298px;
  padding: 16px 0;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  transition: 0.9s ease;
}
.testimonials-wrapper__button:hover {
  background-image: linear-gradient(to bottom right, rgba(254, 210, 144, 1), rgba(254, 210, 144, 1));
  color: rgba(254, 144, 19, 1);
}
.testimonials-wrapper__input {
  width: 599px;
  height: 8.5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.testimonials-wrapper__range {
  height: 6px;
  position: absolute;
  top: 1px;
  left: 1px;
  transform: translate(-0.6px, 0.2px);
}
.testimonials-wrapper__range::-moz {
  top: -6px;
}
.testimonials-wrapper__input::after {
  content: "";
  position: absolute;
  top: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  right: -0.5px;
  background-image: linear-gradient(
    to bottom right,
    rgba(234, 247, 254, 1),
    rgba(243, 169, 248, 0.66),
    rgba(254, 189, 171, 0.74)
  );
  border-radius: 5px;
  z-index: -1;
}
.footer {
  position: relative;
  z-index: 3;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #111115;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 36px;
}
.footer-subscribe__wrapper {
  display: flex;
  align-items: center;
}
.footer-subscribe__title {
  margin: 0 0 14px 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.footer-subscribe__email {
  border: 1px solid rgba(254, 144, 19, 1);
  padding: 10px 7px 8px 10px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 228px;
  margin-right: 10px;
  background-color: transparent;
  color: #bdbdbd;
  outline: none;
}
.footer-subscribe__button {
  padding: 10px 39px 8px 39px;
  color: #4b9200;
  border: 1px solid #4b9200;
  background-color: #f1f3f2;
  border-radius: 5px;
  width: 129px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  transition: 0.9s ease;
}
.footer-subscribe__button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(254, 144, 19, 1);
}

.footer-button {
  display: block;
  text-transform: uppercase;
  border: none;
  width: 298px;
  padding: 16px 0;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, rgba(249, 128, 75, 1), rgba(254, 144, 19, 1));
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 45px;
  transition: 0.9s ease;
  text-align: center;
  text-decoration: none;
}
.footer-button:active {
  text-decoration: none;
  color: #fff;
}
.footer-button:hover {
  background-image: linear-gradient(to bottom right, #fff, #fff);
  color: rgba(254, 144, 19, 1);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-bottom__social--svg {
  fill: #fff;
}
.footer-bottom__social--wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer-bottom__social--wrap:hover .footer-bottom__social--square {
  background-color: #fff;
  transition: 0.9s ease;
}
.footer-bottom__social--wrap:hover svg {
  fill: #fe9013;
  transition: 0.9s ease;
}
.footer-bottom__social--wrap:hover a {
  color: #fe9013;
  transition: 0.9s ease;
}
.footer-bottom__social--wrap:last-child {
  margin-bottom: 0;
}
.footer-bottom__social--square {
  background-color: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.footer-bottom__social-link {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.footer-bottom__social-link:last-child {
  margin-top: 2px;
}
.footer-bottom__text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin: 0;
}
.footer-bottom__text:last-child {
  margin-top: 10px;
}
.footer-nav__list {
  margin-left: 120px;
  margin-bottom: 3px;
}
